* {
  font-family: "Nunito", sans-serif;
}

.about-background {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/3124958/pexels-photo-3124958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

